/* ************ */


/* General CSS */

body {
    overflow: hidden;
}
.float-large-custom-icon-color {
    font-size: 2.5em !important;
    color: black !important;
}
.float-custom-icon-color {
    font-size: 2em !important;
    color: black !important;
}

/* ************ */


/* Top Container CSS */
/*.top-container {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
}*/

.sidebar-container {
    position: absolute;
    top: 0;
    left: 0;
}



/* ************ */
/* Date Slider CSS */
.date-slider-button-container {
    position: absolute;
    top: 1em;
    right: 2em;
}

.date-overlay {
    left: 0;
    right: 0;
    top: 0;
    margin: auto;
    width: 80%;
    position: absolute;
}
.date-button-overlay {
    text-align: center;
}
.date-overlay-container {
    height: 15vh;
    background: rgba(25, 25, 25, .5);
    border-bottom-right-radius: 2em;
    border-bottom-left-radius: 2em;
    flex: 1;
}
.date-overlay-slider {
    position: relative;
    top: 50%;
    left: 2%;
    width: 95%;
    transform: translateY(-50%);
}


/* ************ */


/* Bottom Container CSS */

.bottom-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: block;
}

/* ************ */


/* Layers CSS */

.layers-container {
    text-align: right;
    padding-right: 2em;
    margin-bottom: 0.5em;
}

#dropdown1 {
    width: 50%;
}

/* ************ */


/* "Locate Me" CSS */

.locate-container {
    text-align: right;
    padding-right: 2em;
}

/* ************ */


/* Info Bar CSS */

.collapsible-body {
    background-color: white;
}
