/* ************ */
/* General CSS */

body {
    overflow: hidden;
}

#map {
    height: 100vh;
}

.center-location-button {
    position: absolute;
    bottom: 3%;
    right: 1%;
}

#fields-menu {
    width: 15em;
}

.maplayers-outer-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 25%;
    background-color: rgba(0,0,0,0.15);
    overflow-y: auto;
    overflow-x: hidden;
}

.maplayers-inner-container {
    position: relative;
    top: 7vh;
    /*left: 2em;*/
}


.preferences-outer-container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 25%;
    background-color: rgba(0,0,0,0.15);
    overflow-y: auto;
    overflow-x: hidden;
}

.preferences-inner-container {
    position: relative;
    top: 7vh;
    /*left: 2em;*/
}

.preferences-inner-container .mdl-card {
    width: 100%;
    margin-bottom: 10px;
}

.maplayers-inner-container .mdl-card {
    width: 100%;
    min-height: 0px !important;
    margin-bottom: 5%;
}

.preferences-inner-container .back-button {
    /*margin-bottom: 5%;
    margin-left: 5%;*/
}

.check-button-div {
    text-align: right;
}
